---
layout: default
title: LaTeX course
---

<div class="page-header">
<h1>{{ site.title }} <small>{{ site.subtitle }}</small></h1>
</div>

This website contains exercises for learning LaTeX. <a href="https://en.wikibooks.org/wiki/LaTeX">LaTeX Wikibooks</a> is the
standard reference used in this course.

{% assign t = 1 %}
{% for week in site.weeks %}
<h2>{{ week[1] }} </h2>
<dl>
  {% for post in site.posts reversed %}
    {% if post.category == week[0] %}
    {% if post.disabled %}
    <dt class="disabled"><a>{{ t }}. {{ post.title }}</a>
    <dd class="disabled">{{ post.description }}</dd>
    {% else %}
    <dt><a href="{{site.baseurl}}{{ post.url }}">{{ t }}. {{ post.title }}</a></dt>
    <dd>{{ post.description }}</dd>
    {% endif %}
  	{% assign t = t | plus: 1 %}
    {% endif %}
  {% endfor %}
</dl>
{% endfor %}


<h2>Preface</h2>
<p>
  This website is part of the course "Computeralgebra and LaTeX" taught at the University of Amsterdam.
    <ul>
        <li> 2018/12/19: Removed some sections, fixed some technical issues, by Raymond van Venetie. </li>
        <li> 2018/01/10: Updated by Chris Zaal. Reordering of the sections, new section "Basics". </li>
        <li> 2017/01/11: It was translated to English, edited and updated by Jolien Oomens. </li>
        <li> 2016/01/01: The first version was created by <a href="http://homepages.cwi.nl/~jzuiddam/">Jeroen Zuiddam</a>. </li>
    </ul>
</p>
