---
layout: default
title: LaTeX course
---

<div class="page-header">
<h1>{{ site.title }} <small>{{ site.subtitle }}</small></h1>
</div>

{% assign t = 1 %}
{% for week in site.weeks %}
<h2>{{ week[1] }} </h2>
<dl>
  {% for post in site.posts reversed %}
    {% if post.category == week[0] %}
    {% if post.disabled %}
    <dt class="disabled"><a>{{ t }}. {{ post.title }}</a>
    <dd class="disabled">{{ post.description }}</dd>
    {% else %}
    <dt><a href="{{site.baseurl}}{{ post.url }}">{{ t }}. {{ post.title }}</a></dt>
    <dd>{{ post.description }}</dd>
    {% endif %}
  	{% assign t = t | plus: 1 %}
    {% endif %}
  {% endfor %}
</dl>
{% endfor %}


<h2>Preface</h2>
<p>This website is part of the course "Computeralgebra and LaTeX" taught at the University of Amsterdam. The first version was created by <a href="http://homepages.cwi.nl/~jzuiddam/">Jeroen Zuiddam</a>. It was translated to English, edited and updated by Jolien Oomens on 2017/01/11.</p>
